{% extends 'base.html' %}

{% block content %}
<div class="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<!-- Blog starts -->
				<div class="blog" style="min-height:300px">
					
					<div class="csoon">
					   <div class="row">
						  <div class="span12">
							 <div class="csoon-page">
								<p class="soon-med">We are on the way...</p>                        
								<p class="soon-big">Coming Soon<span class="color">!!!</span></p>                        
								<p class="soon-small">Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum.</p>
								
							 </div>
						  </div>
					   </div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
