<!DOCTYPE html>

<html lang="ar" class="csstransforms no-csstransforms3d csstransitions" xml:lang="ar" dir="rtl"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" dir="rtl">
  
  <meta charset="utf-8">
  <!-- Title -->
  <title dir='rtl'>الحراك الشعبي في العراق</title>
  <!-- Description, Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  
  <link href="/static/css" rel="stylesheet" type="text/css">
  <link href="/static/css(1)" rel="stylesheet" type="text/css">

  <!-- Stylesheets -->
  <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/droid-arabic-kufi" rel="stylesheet" type="text/css"/>
  <link href="/static/style/bootstrap.css" rel="stylesheet">
  <link href="/static/style/flexslider.css" rel="stylesheet">
  <link href="/static/style/prettyPhoto.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/style/fontawesome/css/font-awesome.css">
  <!--[if IE 7]>
  <link rel="stylesheet" href="style/font-awesome-ie7.css">
  <![endif]-->		
  <link href="/static/style/style.css" rel="stylesheet">

  <link href="/static/style/orange.css" rel="stylesheet">    
  <link href="/static/style/bootstrap-responsive.css" rel="stylesheet">
  
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.png">
</head>

<body>

<!-- Header starts -->

<header>
   <div class="container">
      <div class="row">
		  
         <div class="span8 pull-right" style='margin-bottom:5px;'>
            <!-- Logo and site link -->
            <div class="logo">
				<img id ='im_logo' src="/static/c_harak2.jpg" alt="logo" title="" width=96  />
               <h1><a href="#">الحراك الشعبي في العراق</a></h1>
            </div>
         </div>
         
         <!-- Social icons -->
         <div class="span4 pull-left" style='margin-bottom:5px;'>
            <!-- Logo and site link -->
            <div class="logo social2" >
				<span>تابعونا ايضا على:&nbsp;</span>
				<a href="#"><i class="icon-facebook-sign icon-3x facebook"></i></a>
				<a href="#"><i class="icon-twitter-sign icon-3x twitter"></i></a>
				<a href="#"><i class="icon-google-plus-sign icon-3x google-plus"></i></a>
            </div>
         </div>
         
        </div>
   </div>
</header>

<!-- Header ends -->

<!-- Navigation Starts -->

<!-- Note down the syntax before editing. It is the default twitter bootstrap navigation -->

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".nav-collapse">
            القائمة
          </a>
          <div class="nav-collapse collapse pull-right" style='font-family: "Droid Arabic Kufi", Arial;'>
            <!-- Navigation links starts here -->
            <ul class="nav">
              
			  <li><a href="/album">الصور</a></li>
              
			  <li><a href="#">الفيديو</a></li>
              
			  <li><a href="/local_committee">اللجان المحلية للحراك</a></li>                 
				
			  <li><a href="/statement"> بيانات الحراك</a></li>	
             
              <li class="dropdown pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">الاخبار&nbsp;<b class="caret"></b></a>
                <!-- Submenus -->
                <ul class="dropdown-menu">
                  <li><a href="/news">اخبار الحراك </a></li>
                  <li><a href="/watchnews">الرصد الإعلامي للحراك</a></li>
                </ul>
              </li>   
              
              <li class="dropdown pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> &nbsp;حول الحراك&nbsp;<b class="caret"></b></a>
                <!-- Submenus -->
                <ul class="dropdown-menu">
                  <li><a href="/about">فكرة الحراك</a></li>
                  <li><a href="/purpose">اهداف الحراك</a></li>
                  <li><a href="/values">ثوابت الحراك</a></li>
				  <li><a href="/committee"> لجان الحراك </a></li>
				  <li><a href="/testimonial">قيل عن الحراك</a></li>
                </ul>
              </li> 
              
			  <li><a href="/">الرئيسية</a></li>  
              
            </ul>
          </div>  <!-- end nav collapse -->
		  
<!--
		  <div class="nav-collapse collapse pull-left">
			  <ul class="nav">
				<li><a href="#">ter</a></li>
				<li><img src="/static/c_harak2.jpg" alt="" title="" /></li>
			  </ul>
		  </div>
-->
		  
        </div>
      </div>
    </div>
    
<!-- Navigation Ends -->   

<!-- Content strats -->
{% block content %}

{% endblock %}
<!-- Content ends --> 

	
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span4">
         <!-- Widget 1 -->
         <div class="widget">
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum. </p>
             <ul>
               <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
               <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
             </ul>
         </div>
      </div>
      <div class="span4">
         <!-- widget 2 -->
         <div class="widget">
            <h4>Recent Posts</h4>
               <ul>
                  <li><a href="#">Sed eu leo orci, in rhoncus puru condimentum gravida metus</a></li>
                  <li><a href="#">Etiam at in rhoncus puru nulla ipsum, in rhoncus purus</a></li>
                  <li><a href="#">Fusce vel magnain rhoncus puru faucibus felis dapibus facilisis</a></li>
               </ul>
         </div>
      </div>
      <div class="span4">
         <!-- Widget 3 -->
         <div class="widget">
            <h4>Categories</h4>
            <ul>
               <li><a href="#">Category 1</a></li>
               <li><a href="#">Category 2</a></li>
               <li><a href="#">Category 3</a></li>
               <li><a href="#">Category 4</a></li>
               <li><a href="#">Category 5</a></li>
            </ul>
         </div>
      </div>
      
      <div class="span12"><hr><p class="copy"  style="color: #fff !important;">
      <!-- Copyright information. You can remove my site link. -->
               جميع الحقوق محفوظة © <a href="#">IraqHarak 2013</a></p></div>
    </div>
  </div>
</footer>		

<!-- JS -->
<script src="/static/jquery.js"></script>
<script src="/static/bootstrap.js"></script>
<script src="/static/jquery.flexslider-min.js"></script>
<script src="/static/jquery.isotope.js"></script>
<script src="/static/jquery.prettyPhoto.js"></script>
<script src="/static/filter.js"></script>

<script src="/static/custom.js"></script>
<script type="text/javascript">
/* Flex Slider */

$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: true,
    pauseOnHover: true,
    slideshowSpeed: 7000,
    
  });
});
</script>

</body></html>
