{% extends 'base.html' %}

{% block content %}

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
         
            <!-- Slider (Flex Slider -->
            
            <div class="flexslider" style='direction:ltr !important;'>
              
            <div class="flex-viewport" style="overflow-x: hidden; overflow-y: hidden; position: relative; "><ul class="slides" style="width: 1400%; -webkit-transition-duration: 0s; -webkit-transform: translate3d(-4680px, 0px, 0px); "><li class="clone" style="float: left; display: block; width: 936px; ">
                  <img src="/static/5.jpg">
                  <div class="flex-caption" style="display:none">
                     <h3><span>Lorem Title #5</span></h3>
                     <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
                  </div>                  
                </li>
                  <!-- Each slide should be enclosed inside li tag. -->
                  
                  <!-- Slide #1 -->
                <li style="float: left; display: block; width: 936px; " class="">
                  <!-- Image -->
                  <img src="/static/1.jpg">
                  <!-- Caption -->
                  <div class="flex-caption" style="display:none">
                     <!-- Title -->
                     <h3><span>Lorem Title #1</span></h3>
                     <!-- Para -->
                     <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
                  </div>
                </li>
                
                  <!-- Slide #2 -->
                <li style="float: left; display: block; width: 936px; " class="">
                  <img src="/static/2.jpg">
                  <div class="flex-caption" style="display:none">
                     <h3><span>Lorem Title #2</span></h3>
                     <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
                  </div>                  
                </li>
                
                <li style="float: left; display: block; width: 936px; " class="">
                  <img src="/static/3.jpg">
                  <div class="flex-caption" style="display:none">
                     <h3><span>Lorem Title #3</span></h3>
                     <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
                  </div>                  
                </li>
                
                <li style="float: left; display: block; width: 936px; " class="">
                  <img src="/static/4.jpg">
                  <div class="flex-caption" style="display:none">
                     <h3><span>Lorem Title #4</span></h3>
                     <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
                  </div>                  
                </li>
                
                <li style="float: left; display: block; width: 936px; " class="flex-active-slide">
                  <img src="/static/5.jpg">
                  <div class="flex-caption" style="display:none">
                     <h3><span>Lorem Title #5</span></h3>
                     <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
                  </div>                  
                </li> 
                
              <li style="float: left; display: block; width: 936px; " class="clone">
                  <!-- Image -->
                  <img src="/static/1.jpg">
                  <!-- Caption -->
                  <div class="flex-caption" style="display:none">
                     <!-- Title -->
                     <h3><span>Lorem Title #1</span></h3>
                     <!-- Para -->
                     <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
                  </div>
                </li></ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li><li><a class="">4</a></li><li><a class="flex-active">5</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="index3.html#">Previous</a></li><li><a class="flex-next" href="index3.html#">Next</a></li></ul></div>
            
            <!-- Slider ends -->
            
        <!-- recent posts starts -->
			<div class="rposts">
<!--
               <h4>Recent Posts</h4>
-->
               <div class="row">
                  <div class="span6">
                  
                     <!-- Recent post 1. Class name should be "rpost1" -->
                     <div class="rpost1">
                        <!-- Image -->
                        <div class="rimg">
                           <img src="/static/bob11.jpg" alt="">
                        </div>
                        <!-- Title & Para -->
                        <div class="rdetails">
                           <h5>شعار الحراك</h5>
                           <p>كرسي العظمى ذلك قد. مسرح لدحر الأوروبيّون أم بحق, الضغوط والبريطاني قد </p>
                        </div>
                     </div>
                     
                     
                     <!-- Recent post 2. Class name should be "rpost2" -->
                     <div class="rpost2">
                        <div class="rimg">
                           <img src="/static/bob44.jpg" alt="">
                        </div>
                        <div class="rdetails">
                           <h5>شعار الحراك</h5>
                           <p>كرسي العظمى ذلك قد. مسرح لدحر الأوروبيّون أم بحق, الضغوط والبريطاني قد </p>
                        </div>                     
                     </div>   

                     
                  </div>
                  <div class="span6">
                  
                  
                     <!-- Recent post 3. Class name should be "rpost1" -->
                     <div class="rpost1">
                        <div class="rimg">
                           <img src="/static/bob33.jpg" alt="">
                        </div>
                        <div class="rdetails">
                           <h5>شعار الحراك</h5>
                           <p>كرسي العظمى ذلك قد. مسرح لدحر الأوروبيّون أم بحق, الضغوط والبريطاني قد </p>
                        </div>
                     </div>
                     
                     
                     <!-- Recent post 4. Class name should be "rpost2" -->
                     <div class="rpost2">
                        <div class="rimg">
                           <img src="/static/bob11.jpg" alt="">
                        </div>
                        <div class="rdetails">
                           <h5>شعار الحراك</h5>
                           <p>كرسي العظمى ذلك قد. مسرح لدحر الأوروبيّون أم بحق, الضغوط والبريطاني قد </p>
                        </div>                     
                     </div>  

                     
                  </div>
               </div>
            </div>
            
            <!-- Recent post ends --> 
		
		
            
            <div class="features">
               <div class="row">
                  <div class="span12">
                  
                     <!-- Features hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>الرصد الإعلامي للحراك&nbsp;</span></h3>
                        <!-- para -->
                        
                     </div>
                     
                     <!-- Features -->
                     
                     <!-- Features list. Note down the class name before editing. -->
                     
                     <div class="row">
                        <div class="span12">
							
							{% if not watch_entries %}
                        
                           <!-- Feature 1. Class name - "feat-a" -->
                           <div class="feat-a">
                              <div class="feat">
                                 <!-- Feature title with font awesome icon-->
                                 <h4><i class="icon-caret-left"></i> عنوان &nbsp;</h4>
                                 <!-- Feature para -->
                                 <p>بدفع شمال العالم أم إيو, إحتار إختار الطريق ثم وتم, ما وفي بزوال والمانيا السوفييتي،. لم انه معقل احداث لقوات, سقط ان دارت للإتحاد. أي دون شرسة وبريطانيا. مع قبل هتلر، الشطر, من وحتى النمسا ابتدعها نفس. أدولف الضحايا عل غزو.</p>
                              </div>
                           </div>
                           
                           <!-- Feature 2. Class name - "feat-b" -->
                           <div class="feat-b">
                              <div class="feat">
                                 <h4><i class="icon-caret-left"></i> عنوان&nbsp;</h4>
                                 <p>بدفع شمال العالم أم إيو, إحتار إختار الطريق ثم وتم, ما وفي بزوال والمانيا السوفييتي،. لم انه معقل احداث لقوات, سقط ان دارت للإتحاد. أي دون شرسة وبريطانيا. مع قبل هتلر، الشطر, من وحتى النمسا ابتدعها نفس. أدولف الضحايا عل غزو.</p>
                              </div>
                           </div>
                           
                           <div class="clearfix"></div>
                           
                           <!-- Feature 3. Class name - "feat-a" -->
                           <div class="feat-a">
                              <div class="feat">
                                 <h4><i class="icon-caret-left"></i> عنوان &nbsp;</h4>
                                 <p>بدفع شمال العالم أم إيو, إحتار إختار الطريق ثم وتم, ما وفي بزوال والمانيا السوفييتي،. لم انه معقل احداث لقوات, سقط ان دارت للإتحاد. أي دون شرسة وبريطانيا. مع قبل هتلر، الشطر, من وحتى النمسا ابتدعها نفس. أدولف الضحايا عل غزو.</p>
                              </div>
                           </div>
                           
                           <!-- Feature 4. Class name - "feat-b" -->
                           <div class="feat-b">
                              <div class="feat">
                                 <h4><i class="icon-caret-left"></i> عنوان&nbsp;</h4>
                                 <p>بدفع شمال العالم أم إيو, إحتار إختار الطريق ثم وتم, ما وفي بزوال والمانيا السوفييتي،. لم انه معقل احداث لقوات, سقط ان دارت للإتحاد. أي دون شرسة وبريطانيا. مع قبل هتلر، الشطر, من وحتى النمسا ابتدعها نفس. أدولف الضحايا عل غزو.</p>
                              </div>
                           </div>
						   {% else %}
						   {% for i in watch_entries %}
						   <div class="{% cycle 'feat-a' 'feat-b' %}">
								<div class="feat">
									<h4><i class="icon-caret-left"></i>&nbsp;{{ i.title }}&nbsp;</h4><i class="icon-calendar"></i>&nbsp;{{ i.published }}&nbsp;
									<p>
										{{ i.html_body|safe|truncatewords_html:30  }}
									</p>
								</div>
						   </div>
						   
						   
						   {% endfor %}
                           
						   {% endif %}
                           
                           <div class="clearfix"></div>
                           
                        </div>                        
					  </div>
                     
					 <br/>
                                          
                  </div>
               </div>
            </div>
            
            
            <!-- Features ends -->
		
		
		<!-- reviews starts -->	
		<div class="reviews" style="display:none">
               <div class="row">
                  <div class="span12">
                  
                     <!-- Review hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>تصويت &nbsp;</span></h3>
                        <!-- para -->
<!--
                        <p>Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.</p>
-->
                     </div>
                     <!-- Review -->
                     
                     <!-- Review list. Note down the class name before editing. -->
                     <div class="row">
                        <div class="span8">
                           <div class="review">
                           
                              <div class="reinfo">
                                 <h4>موضوع التصويت</h4>
                                 <p>ناجازاكي ويكيبيديا، هو مما. اعلان الذرية والفلبين انه أي, بغزو الذود الأمريكية جُل ما. ثم جنود لأداء والمانيا الا, قد به، بيرل مكثّفة. ٣٠ قبل حلّت أطراف, و الى غرّة، وانهاء للأسطول. وضم الصفحة واعتلاء كل, جورج الشطر الأثناء، كل بال.
.</p>
                              </div>
                              
                                 <!-- Review details with Twitter default progress bar -->
                              <div class="redetails" style='direction:ltr !important;'>
                                 <h5>نعم <span class="pull-right">70%</span></h5>
                                 <div class="progress"> 
                                    <div class="bar bar-info" style="width: 70%;direction:rtl"></div>
                                 </div>
                                 <h5>لا <span class="pull-right">60%</span></h5>
                                 <div class="progress"> 
                                    <div class="bar bar-success" style="width: 60%;"></div>
                                 </div>
                                 <h5>نعم لكن بشروط <span class="pull-right">80%</span></h5>
                                 <div class="progress"> 
                                    <div class="bar bar-warning" style="width: 80%;"></div>
                                 </div>
                                 <h5>لست متاكد <span class="pull-right">50%</span></h5>
                                 <div class="progress"> 
                                    <div class="bar bar-danger" style="width: 50%;"></div>
                                 </div>    
                                 <div class="clearfix"></div>                                 
                              </div>
                              <div class="clearfix"></div>
                              
                              
                           </div>
                        </div>
                        
                        <div class="span4">
                           <div class="rbox">
                              <h4>Lorem ipsum</h4>
                              <p>بدفع شمال العالم أم إيو, إحتار إختار الطريق ثم وتم, ما وفي بزوال والمانيا السوفييتي،. لم انه معقل احداث لقوات, سقط ان دارت للإتحاد. أي دون شرسة وبريطانيا. مع قبل هتلر، الشطر, من وحتى النمسا ابتدعها نفس. أدولف الضحايا عل غزو.</p>
                              <div class="button"><a href="#"><i class="icon-plus"></i> Vote</a></div>
                           </div>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
            
            <!-- Review ends -->
			
			
            
			<br/>
            <!-- Blog starts -->
            
            <div class="blog">
               <div class="row">
                  <div class="span12">
					  
					  <!-- Small blog hero hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>اخر اخبار الحراك&nbsp;</span></h3>
                        <!-- para -->
<!--
                        <p>Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.</p>
-->
                     </div>
                     
                     <!-- Blog Posts -->
                     <div class="row">
                        <div class="span12">
                           <div class="posts pblock">
                           
                           
                              <!-- list last news" -->
                              <div class="row">
								 
								<!-- in deployed project replace centries with correct name -->
								{% if centries %}
								{% for i in entries %}
								 <!-- new entry -->
                                 <div class="span4">
                                    <!-- Post one -->
                                    <div class="entry">
									   <h2><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h2>
                                       
                                       <!-- Meta details -->
                                       <div class="meta">
										  <i class="icon-calendar"></i> {{ i.published }} <i class="icon-folder-open"></i> <a href="#">General</a> <span class="pull-right">1 <i class="icon-comment"></i></span>
                                       </div>
                                       
                                       <!-- Thumbnail -->
                                       <div class="bthumb2">
                                          <a href="#">
											  <img src="{{ i.image.url }}" alt="reload" style='width:290px; height:150px'>
                                          </a>
                                       </div>
                                       
									   <p> {{ i.html_body|safe|truncatewords_html:30 }} </p>
                                    </div>
                                 </div>
								<!-- end new entry -->
								{% endfor %}
								<!-- this is test entries to be removed in deployed ------------>
								{% else %}
								<div class="span4">
                                    <!-- Post one -->
                                    <div class="entry">
									   <h2><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h2>
                                       
                                       <!-- Meta details -->
                                       <div class="meta">
										  <i class="icon-calendar"></i> 12/08/13 <i class="icon-folder-open"></i> <a href="#">General</a> <span class="pull-right"></span>
                                       </div>
                                       
                                       <!-- Thumbnail -->
                                       <div class="bthumb2">
                                          <a href="#">
											  <img src="http://placehold.it/290x150" alt="reload" >
                                          </a>
                                       </div>
                                       
									   <p> {{ i.html_body|safe|truncatewords_html:30 }} </p>
                                    </div>
                                 </div>
                                 <div class="span4">
                                    <!-- Post one -->
                                    <div class="entry">
									   <h2><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h2>
                                       
                                       <!-- Meta details -->
                                       <div class="meta">
										  <i class="icon-calendar"></i> 12/08/13 <i class="icon-folder-open"></i> <a href="#">General</a> <span class="pull-right"></span>
                                       </div>
                                       
                                       <!-- Thumbnail -->
                                       <div class="bthumb2">
                                          <a href="#">
											  <img src="http://placehold.it/290x150" alt="reload" >
                                          </a>
                                       </div>
                                       
									   <p> {{ i.html_body|safe|truncatewords_html:30 }} </p>
                                    </div>
                                 </div>
                                 <div class="span4">
                                    <!-- Post one -->
                                    <div class="entry">
									   <h2><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h2>
                                       
                                       <!-- Meta details -->
                                       <div class="meta">
										  <i class="icon-calendar"></i> 12/08/13 <i class="icon-folder-open"></i> <a href="#">General</a> <span class="pull-right"></span>
                                       </div>
                                       
                                       <!-- Thumbnail -->
                                       <div class="bthumb2">
                                          <a href="#">
											  <img src="http://placehold.it/290x150" alt="reload" >
                                          </a>
                                       </div>
                                       
									   <p> {{ i.html_body|safe|truncatewords_html:30 }} </p>
                                    </div>
                                 </div>
                                 
								<!-- end test entries ----------------------------------------->
								{% endif %}

                              </div>
                              
                              <div class="clearfix"></div>
                           </div>
                        </div>                        
                  
                     </div>
                     
                  </div>
               </div>
            </div>
            
            
            <!-- small blog ends -->

            <div class="bor"></div>
            
            
         </div>
      </div>
   </div>
</div>   



{% endblock %}
