{% extends 'news_base.html' %}

{% block listall %}
{{ block.super }}
<div class="content">
   <div class="container">
      <div class="row">
         <div class="span7">
            
            <!-- Resume starts -->
            
            <div class="resume">
               <div class="row">
                  <div class="span7">
                     <h2>lorem ipsum</h2>
                     <p>Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut commodo ullamcorper risus nec mattis. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
                     <hr>
                     <!-- Resume -->
                     
                     <div class="row">
                        <div class="span7">
                        
                           <!-- committee 1 -->
                           <div class="rblock">
                              <div class="row">
                                 
                                 <div class="span5">
                                    <div class="rinfo">
                                       <h5>lorem ipsum</h5>
                                       <div class="rmeta">lorem ipsum</div>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. </p>
                                       
                                    </div>
                                 </div>
                                 <div class="span2">
                                    <h4>Baghdad</h4>                            
                                 </div>
                              </div>
                           </div>
                           
                           <!-- committee 2 -->
                           <div class="rblock">
                              <div class="row">
                                 
                                 <div class="span5">
                                    <div class="rinfo">
                                       <h5>lorem ipsum</h5>
                                       <div class="rmeta">lorem ipsum</div>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. </p>
                                    </div>
                                 </div>
                                 <div class="span2">
                                    <h4>Arbil</h4>                            
                                 </div>
                              </div>
                           </div>
                           
                           <!-- committee 3 -->
                           <div class="rblock">
                              <div class="row">
                                 
                                 <div class="span5">
                                    <div class="rinfo">
                                       <h5>lorem ipsum</h5>
                                       <div class="rmeta">lorem ipsum</div>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. </p>
                                    </div>
                                 </div>
                                 <div class="span2">
                                    <h4>Al anbar</h4>                            
                                 </div>
                              </div>
                           </div>                           
                           
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
            
            
            <!-- Resume ends -->
            
            
            
         </div>
      </div>
   </div>
</div>

{% endblock %}

